openai

python-dotenv

google-genai

groq

langchain-openai

langchain-google-genai

langchain

groq<1.0 

langchain-groq

langchain-ollama

huggingface_hub

langchain_huggingface

transformers

torch

langsmith

gradio

langchain_chroma

langchain

langchain
langchain-core
langchain-chroma
langchain-ollama
langgraph
langchain_classic