openai

python-dotenv

google-genai

groq

langchain-openai

langchain-google-genai

langchain

groq<1.0 

langchain-groq

langchain-ollama

huggingface_hub

langchain_huggingface

transformers

torch